
body {
    margin: 0px;
    
}


/* Search Bar */
.main {
    overflow: hidden;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}


/* for the navigation bar */
.navi {
      background-color: rgba(16, 20, 80);
      overflow: hidden;
  } 

.navi a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-top: 50px;
    margin-right: 20px;
    text-decoration: none;
  }  

  .navi a:hover {
      background-color: coral;
      transition-duration: 0.6s;
  }

  .navi .icon {
      display: none;
  }

@media screen and (max-width: 600px) {
    .navi a:not(:first-child) {display:none;}
    .navi a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navi.responsive {position: relative;}
    .navi.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navi.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.logo{
    padding: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 500px) {
    img.logo {
     width: 50%;
     
    }
}

/*css for div conatining the text and button */
 div.cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 600px;
    height: 200px;
    border-radius: 5px;
    background-color: rgba(16, 20, 80, 0.8);
}


div.cont p {
    position: absolute;
    top: 5%;
    left: 50%;
    background: none;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: inherit;
    text-align: center;
    font-style: italic;
} 

div.cont .btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.4s;
    color: black;
    font-size: 20px;
    font-family: Georgia;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;

}

button.btn:hover {
    background-color: rgb(230, 62, 11);
    box-shadow: 0 2px 5px 0 whitesmoke;
} 

/* css for the free shipping write up   */
.orange {
    background-color: rgb(230, 62, 11);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
    font-family: serif;
    font-style: italic;
    text-align: center;
    color:whitesmoke;
    line-height: 60px;
    min-width: 100vw;

}
a {
    color: whitesmoke;
}

.container > * {
    border: 5px solid rgb(16, 20, 80);
    border-radius: 10px;
}

.align {
    text-align: center;
    font-size: 80px;
    font-family: serif;
    margin-bottom: 30px;
}
.must {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}


.sweater,
.sports,
.tshirt {
    margin: 10px;

} 

#products {
    float: right;
    position: relative;
    left: 6%;
}

@media screen and (max-width: 500px){
    .container {
    display: flex;
    flex-flow: column;
    flex-grow: 2;
    }

    img {
    width: 75%;
    position: relative;
    left: 5%;
    } 
}

.absolute {
    background-color: rgb(226, 43, 43);
    float: right;
    margin-right: 250px;
}


/* footer background color */
#last, .footNote {
    background-color: rgba(16, 20, 80);
}


.ft {
    display: flex;
    flex-flow: row wrap;
    color: whitesmoke;
    text-align: center;
}

.ft > *{
    flex: 1;
}

/* foot note */

/* Be our friend input field */
.sub {
    padding: 5px;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
    transition-duration: 0.4s;
}

/* social media buttons */
.fa {
    padding: 0px;
    font-size: 20PX;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    transition-duration: 0.4s;
}

.fa:hover {
    opacity: 0.7;
} 

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-linkedin {
    color:white;
}

.fa-instagram {
    color: white;
}

div.footNote {
    color:whitesmoke;
    text-align: center;
    overflow: hidden;
}


@media screen and (max-width:500px) {
    .ft {
        display: flex;
        flex-flow: column;
    }
    .ft > * {
        flex: 1;
        margin-bottom: 80px;
    }
}